<mat-form-field style="width: 100%">
  <textarea [(ngModel)]="model.secret" matInput placeholder="What is your secret?" style="height: 100px"></textarea>
</mat-form-field>
<mat-form-field style="width: 50%">
  <mat-select placeholder="Forget after" [(ngModel)]="model.forgetAfter">
    <mat-option [value]="1">1 minute</mat-option>
    <mat-option [value]="5">5 minutes</mat-option>
    <mat-option [value]="15">15 minutes</mat-option>
    <mat-option [value]="30">30 minutes</mat-option>
    <mat-option [value]="60">1 hour</mat-option>
  </mat-select>
</mat-form-field>
<div style="text-align: center; display: inline-block; width: 50%">
  <mat-checkbox [(ngModel)]="model.readOnlyOnce">Read only once</mat-checkbox>
</div>
<button mat-raised-button color="primary" (click)="send()">Create secret link</button>
