<div class="card">
  <div class="title">
    Secret
  </div>
  <div class="content" *ngIf="loading">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <div class="content" *ngIf="!loading">
    <table>
      <tr>
        <td>
          <mat-form-field style="width: 420px">
            <textarea [ngModel]="secret" matInput placeholder="" style="height: 100px"></textarea>
          </mat-form-field>
        </td>
        <td>
          <button mat-icon-button (click)="copy()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </td>
      </tr>
    </table>
    <button mat-button (click)="close()">Close</button>
  </div>
</div>
