<div class="card">
  <div class="title">Tell me a secret</div>
  <div class="content" *ngIf="state === 'create'">
    <app-create-secret-form (create)="send($event)"></app-create-secret-form>
  </div>
  <div class="content" *ngIf="state === 'sending'">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <div class="content" *ngIf="state === 'result'">
    <app-create-secret-result [result]="result"></app-create-secret-result>
    <button mat-button (click)="reset()">Back</button>
  </div>
</div>
